<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id='xml1' class="kr.co.ezenac.beans.TestBean1"></bean>
	<!-- lazy-init, prototype 인 경우 getBean을 통해서 생성된다 (xml을 불러오기만해서 생성되는게 아니다 -->
	<bean id='xml2' class="kr.co.ezenac.beans.TestBean2" lazy-init='true'></bean>
	<bean id='xml3' class="kr.co.ezenac.beans.TestBean3" scope='prototype'></bean>

	<!-- bean 저장소에만 등록 (xml 불러올때 객체생성) -->
	<bean class='kr.co.ezenac.beans.TestBean4'></bean>
	<!-- 윗줄과 같은 동일 타입일때 primary="true" 인 타입이 우선순위가 높다 -->
	<bean class='kr.co.ezenac.beans.TestBean4' primary='true'></bean>
	
</beans>