<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="t1" class="kr.co.ezenac.beans.TestBean1" 
		lazy-init="true"
		init-method="bean1_init"
		
	></bean>
	
	<bean id="t2" class="kr.co.ezenac.beans.TestBean2"
		lazy-init="true"
		init-method="bean2_init"
	></bean>
	
	<!-- bean 전처리기, 후처리기를 사용하기 위해 경로를 지정해준다
		해당경로에 
		postProcessBeforeInitialization 혹은
		postProcessAfterInitialization 를 정의만 해줘도 bean의 전,후처리기를 사용 할 수 있다
	 -->
	<bean class="kr.co.ezenac.processor.TestBeanPostProcessor"></bean>
</beans>