<?xml version="1.0" encoding="UTF-8"?>
<!--  xmlns:context추가, schemaLocation 2줄 추가 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- 지정된 패키지의 Bean클래스들의 어노테이션을 분석하여 Bean을 등록하라고 지정한다 -->
	<context:component-scan base-package="kr.co.ezenac.beans2"></context:component-scan>
	<context:component-scan base-package="kr.co.ezenac.beans3"></context:component-scan>
	
	<bean class="kr.co.ezenac.beans.TestBean1"></bean>
	<bean id="xml2" class="kr.co.ezenac.beans.TestBean2"></bean>
	<bean id="xml3" class="kr.co.ezenac.beans.TestBean2"></bean>	
	
	<bean id="xml100" class="kr.co.ezenac.beans2.TestBean4"></bean>
	<bean id="xml200" class="kr.co.ezenac.beans2.TestBean4"></bean>	
</beans>