<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd"
						default-autowire='byName'>
	
	
	<bean id="obj1" class="kr.co.ezenac.beans.TestBean1" >
		<property name="data1" ref="data_bean1"></property>
		<property name="data2" ref="data_bean1"></property>
	</bean>
	
	<!-- DataBean1 을 data_bean1으로 bean에 저장 -->
	<bean id="data_bean1" class="kr.co.ezenac.beans.DataBean1" scope="prototype"></bean>
	
	
	<!-- name 을 이용한 자동 주입 -->
	<!-- autowire 를 byName 으로할 값을 미리 지정 -->
	<bean id="data1" class="kr.co.ezenac.beans.DataBean1"></bean>
	<bean id="data2" class="kr.co.ezenac.beans.DataBean1"></bean>
	<!-- 사용할 bean에 byName autowire를 하게 되면 위에서 설정한 값이 자동으로 주입된다 -->
	<bean id="obj2" class="kr.co.ezenac.beans.TestBean1" autowire="byName"></bean>
	
	
	
	<!-- type 을 이용한 자동 주입 -->
	<!-- DataBean2 를 읽어온다 앞으로 DataBean2에 대한 byType은 여기서 읽어온 DataBean2 으로 적용된다 -->
	<!-- scope 등 속성도 적용됨  -->
	<!-- 또한 다른곳에서 중복으로 DataBean2 에 대한 bean을 읽어올 수 없다 -->
	<!-- 때문에 byType방법으로 의존성 주입하는 객체는 두번이상 읽어와서 bean에 저장할 경우 nested 에러가 발생한다 -->
	<bean id="data_bean2" class="kr.co.ezenac.beans.DataBean2"></bean>
	<bean id="obj3" class="kr.co.ezenac.beans.TestBean2" autowire="byType"></bean>
	<!-- 위에서 한번 DataBean2를 bean에 저장시켰기 때문에 한번더 읽어올 수 없다 -->
<!-- 	<bean class="kr.co.ezenac.beans.DataBean2"></bean> -->
<!-- 	<bean class="kr.co.ezenac.beans.DataBean2"></bean> -->
	
	
	<bean id="obj4" class="kr.co.ezenac.beans.TestBean3">
		<constructor-arg ref="data_bean2" index="0"></constructor-arg>
		<constructor-arg ref="data_bean2" index="1"></constructor-arg>
	</bean>
			
	<!-- constructor 의존성 주입 -->
	<bean id="obj5" class="kr.co.ezenac.beans.TestBean3" autowire="constructor"></bean>
	
	<bean id="obj6" class="kr.co.ezenac.beans.TestBean3">
		<constructor-arg value="100" type="int" index='0'></constructor-arg>
		<constructor-arg value="문자열" index='1'></constructor-arg>
		<constructor-arg ref='data_bean2' index='2'></constructor-arg>
		<constructor-arg ref='data_bean2' index='3'></constructor-arg>
	</bean>
	
	<!-- 생성자를 두개밖에 넣지 않았지만 autowire를 통해 자동으로 주입 할 수 있다 -->
	<bean id='obj7' class='kr.co.ezenac.beans.TestBean3' autowire='constructor'>
		<constructor-arg value='200' index='0' type='int'></constructor-arg>
		<constructor-arg value='문자열' index='1'></constructor-arg>
	</bean>
	
	<!-- default-autowire -->
	<bean id='obj8' class="kr.co.ezenac.beans.TestBean1"></bean>
	
	<!-- autowire='no' 를 통해 default-autowire를 통한 자동 주입을 막을 수 있다 -->
	<bean id='obj9' class="kr.co.ezenac.beans.TestBean1" autowire='no'></bean>


</beans>